/**margin Start**/
$margin-list: (
  top,
  right,
  bottom,
  left
);

@each $item in $margin-list {
  .margin-#{$item} {
    margin-#{$item}: $content-margin;
  }
}

.auto {
  margin: {
    left: 0;
    right: 0;
  }
}

.margin-vertical {
  margin: {
    left: $content-margin;
    right: $content-margin;
  }
}

.margin-horizontal {
  margin: {
    top: $content-margin;
    bottom: $content-margin;
  }
}

/**margin  End**/
