@import "../config/index.scss";
@import "../styles/src/ionic.ios.scss";

body {
  position: static;
  overflow: auto;
  user-select: auto;
  user-drag: auto;
}

.api-container {
  padding: 10px;

  .clip-button {
    width: 20px;
    height: 20px;
    background: url("../assets/images/clippy.svg") no-repeat;
    background-size: cover;
  }
}
